.button-general {
    text-align: center;
    border: none;
    border-radius: 6px;
    padding: 12px 16px;
    font-size: 16px;
    color: white;
    min-width: 160px;
    min-height: 48px;
    font-family: "Inter", Arial, Helvetica, sans-serif;;
}

.primary:hover{
    cursor: pointer;
}

.primary {
    background-color: $button-primary;
    
    &:hover {
        background-color: darken($button-primary, 10%);
    }
}

.primary-disabled{
    background-color: $button-disabled;
    color: $button-disabled-text;
    cursor: not-allowed;
}